.discount-section {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
}
.discount-component{
    align-items: center;
    justify-content: space-evenly;
}
.discount-component img{
    width: 250px;
}