.site-name{
    width: 90%;
    background-color: rgba(255, 127, 80, 0.678);
    border-radius: 10px;
}

.nav-section{
    width: 90%;
    background-color: rgba(137, 43, 226, 0.815);
    border-radius: 5px;
}
.nav-section .navlink{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
}
.nav-section .navlink:hover{
    background-color: blueviolet;
}