/* contact us top section css */
.contact-top{
    align-items: center;
    justify-content: space-evenly;
}
.contact-top{
    align-items: center;
    justify-content: space-evenly;
}

/* contact us bottom section css */
.contact-bottom a{
    display: inline-block;
    margin: 0 20px;
    background-color: blue;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}
.contact-bottom a:hover{
    background-color: white;
    border: 1px solid blue;
    color: blue;
}