.footer-section{
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(46, 38, 95, 0.753);
    border-radius: 10px;
}
.footer-address ul, .footer-contact ul, .footer-branch ul{
    list-style: none;
}